openapi: 3.2.0
info:
  title: WellCare FHIR Provider Directory Insurance Plan API
  description: The WellCare FHIR Provider Directory API provides access to up-to-date provider directory information, enabling third-party applications to query in-network physicians, specialists, hospitals, and other healthcare providers.
  version: '1.0'
  contact:
    url: https://www.wellcare.com/en/interoperability-and-patient-access
servers:
- url: https://partners.centene.com
tags:
- name: Insurance Plan
  description: Insurance plan details including networks and coverage areas.
paths:
  /fhir/r4/InsurancePlan:
    get:
      operationId: searchInsurancePlans
      summary: Search Insurance Plans
      description: Retrieves WellCare insurance plan details including plan types, network coverage areas, benefit categories, and cost-sharing information for Medicaid and Medicare Advantage plans.
      tags:
      - Insurance Plan
      parameters:
      - name: name
        in: query
        description: Insurance plan name.
        schema:
          type: string
      - name: type
        in: query
        description: Plan type (e.g., HMO, PPO, SNP).
        schema:
          type: string
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Bundle of InsurancePlan resources returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
components:
  schemas:
    Bundle:
      type: object
      description: A FHIR Bundle resource containing a collection of resources.
      properties:
        resourceType:
          type: string
          example: Bundle
        id:
          type: string
        type:
          type: string
          enum:
          - searchset
          - collection
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token from Centene Partner Portal OAuth 2.0 authorization.
