openapi: 3.2.0
info:
  title: WellCare FHIR Provider Directory Location API
  description: The WellCare FHIR Provider Directory API provides access to up-to-date provider directory information, enabling third-party applications to query in-network physicians, specialists, hospitals, and other healthcare providers.
  version: '1.0'
  contact:
    url: https://www.wellcare.com/en/interoperability-and-patient-access
servers:
- url: https://partners.centene.com
tags:
- name: Location
  description: Physical care delivery locations and addresses.
paths:
  /fhir/r4/Location:
    get:
      operationId: searchLocations
      summary: Search Locations
      description: Searches for care delivery locations by address, ZIP code, or proximity to a given coordinate. Returns location details, hours, accessibility, and available services.
      tags:
      - Location
      parameters:
      - name: address-postalcode
        in: query
        description: ZIP code for location search.
        schema:
          type: string
      - name: near
        in: query
        description: Coordinate-based proximity search (latitude|longitude|distance|units).
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        schema:
          type: integer
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Bundle of Location resources returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
components:
  schemas:
    Bundle:
      type: object
      description: A FHIR Bundle resource containing a collection of resources.
      properties:
        resourceType:
          type: string
          example: Bundle
        id:
          type: string
        type:
          type: string
          enum:
          - searchset
          - collection
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token from Centene Partner Portal OAuth 2.0 authorization.
