openapi: 3.1.0
info:
  title: WellCare FHIR Patient Access Condition Observation API
  description: The WellCare FHIR Patient Access API enables members and authorized third-party applications to securely access and exchange health data including medical, pharmacy, dental, and vision claims and clinical information. The API supports HL7 FHIR R4 standards and SMART on FHIR authorization, providing access to up to 5 years of historical health information. Required under CMS Interoperability and Patient Access final rule (CMS-9115-F) for Medicaid and Medicare Advantage plans. Access is managed through the Centene Partner Portal at partners.centene.com/apis.
  version: '1.0'
  contact:
    url: https://www.wellcare.com/en/interoperability-and-patient-access
servers:
- url: https://partners.centene.com
tags:
- name: Observation
  description: Clinical observations, lab results, and vital signs.
paths:
  /fhir/r4/Observation:
    get:
      operationId: listObservations
      summary: List Observations
      description: Retrieves Observation resources including laboratory results, vital signs, and other clinical measurements for an authenticated member.
      tags:
      - Observation
      parameters:
      - name: patient
        in: query
        description: The FHIR Patient ID.
        required: true
        schema:
          type: string
      - name: category
        in: query
        description: Filter by observation category (e.g., laboratory, vital-signs).
        schema:
          type: string
      security:
      - smartOnFhir:
        - patient/Observation.read
      responses:
        '200':
          description: Bundle of Observation resources returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          description: Unauthorized.
components:
  schemas:
    Bundle:
      type: object
      description: A FHIR Bundle resource containing a collection of resources.
      properties:
        resourceType:
          type: string
          example: Bundle
        id:
          type: string
        type:
          type: string
          enum:
          - searchset
          - collection
          - transaction
          - history
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
  securitySchemes:
    smartOnFhir:
      type: oauth2
      description: SMART on FHIR OAuth 2.0 authorization for patient-facing apps.
      flows:
        authorizationCode:
          authorizationUrl: https://partners.centene.com/oauth2/authorize
          tokenUrl: https://partners.centene.com/oauth2/token
          scopes:
            patient/Patient.read: Read patient demographic data
            patient/Coverage.read: Read coverage and enrollment data
            patient/ExplanationOfBenefit.read: Read claims and EOB data
            patient/Condition.read: Read diagnosed conditions
            patient/Observation.read: Read observations and lab results
            patient/MedicationRequest.read: Read medication requests
            patient/Immunization.read: Read immunization records
            patient/Encounter.read: Read care encounters
