openapi: 3.1.0
info:
  title: WellCare FHIR Patient Access Condition Practitioner Role API
  description: The WellCare FHIR Patient Access API enables members and authorized third-party applications to securely access and exchange health data including medical, pharmacy, dental, and vision claims and clinical information. The API supports HL7 FHIR R4 standards and SMART on FHIR authorization, providing access to up to 5 years of historical health information. Required under CMS Interoperability and Patient Access final rule (CMS-9115-F) for Medicaid and Medicare Advantage plans. Access is managed through the Centene Partner Portal at partners.centene.com/apis.
  version: '1.0'
  contact:
    url: https://www.wellcare.com/en/interoperability-and-patient-access
servers:
- url: https://partners.centene.com
tags:
- name: Practitioner Role
  description: A practitioner's role within an organization and network.
paths:
  /fhir/r4/PractitionerRole:
    get:
      operationId: searchPractitionerRoles
      summary: Search Practitioner Roles
      description: Searches for practitioner roles defining a practitioner's relationship with a healthcare organization and network, including specialties, accepted insurance plans, and care location affiliations.
      tags:
      - Practitioner Role
      parameters:
      - name: practitioner
        in: query
        description: FHIR Practitioner ID.
        schema:
          type: string
      - name: organization
        in: query
        description: FHIR Organization ID.
        schema:
          type: string
      - name: specialty
        in: query
        description: Specialty taxonomy code.
        schema:
          type: string
      - name: location
        in: query
        description: FHIR Location ID.
        schema:
          type: string
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Bundle of PractitionerRole resources returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
components:
  schemas:
    Bundle:
      type: object
      description: A FHIR Bundle resource containing a collection of resources.
      properties:
        resourceType:
          type: string
          example: Bundle
        id:
          type: string
        type:
          type: string
          enum:
          - searchset
          - collection
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
  securitySchemes:
    smartOnFhir:
      type: oauth2
      description: SMART on FHIR OAuth 2.0 authorization for patient-facing apps.
      flows:
        authorizationCode:
          authorizationUrl: https://partners.centene.com/oauth2/authorize
          tokenUrl: https://partners.centene.com/oauth2/token
          scopes:
            patient/Patient.read: Read patient demographic data
            patient/Coverage.read: Read coverage and enrollment data
            patient/ExplanationOfBenefit.read: Read claims and EOB data
            patient/Condition.read: Read diagnosed conditions
            patient/Observation.read: Read observations and lab results
            patient/MedicationRequest.read: Read medication requests
            patient/Immunization.read: Read immunization records
            patient/Encounter.read: Read care encounters
