openapi: 3.1.0
info:
  title: WellCare FHIR Patient Access Condition Practitioner API
  description: The WellCare FHIR Patient Access API enables members and authorized third-party applications to securely access and exchange health data including medical, pharmacy, dental, and vision claims and clinical information. The API supports HL7 FHIR R4 standards and SMART on FHIR authorization, providing access to up to 5 years of historical health information. Required under CMS Interoperability and Patient Access final rule (CMS-9115-F) for Medicaid and Medicare Advantage plans. Access is managed through the Centene Partner Portal at partners.centene.com/apis.
  version: '1.0'
  contact:
    url: https://www.wellcare.com/en/interoperability-and-patient-access
servers:
- url: https://partners.centene.com
tags:
- name: Practitioner
  description: Individual healthcare practitioners and clinicians.
paths:
  /fhir/r4/Practitioner:
    get:
      operationId: searchPractitioners
      summary: Search Practitioners
      description: Searches for healthcare practitioners in the WellCare provider directory by name, specialty, NPI, or location. Returns practitioner demographic information, credentials, and specialties.
      tags:
      - Practitioner
      parameters:
      - name: name
        in: query
        description: Practitioner name (partial match supported).
        schema:
          type: string
      - name: identifier
        in: query
        description: NPI or other practitioner identifier.
        schema:
          type: string
      - name: specialty
        in: query
        description: NUCC taxonomy code or specialty name.
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        schema:
          type: integer
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Bundle of Practitioner resources returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
  /fhir/r4/Practitioner/{id}:
    get:
      operationId: getPractitioner
      summary: Get Practitioner
      description: Retrieves a specific practitioner resource by FHIR ID, returning full demographic and credential information.
      tags:
      - Practitioner
      parameters:
      - name: id
        in: path
        description: The FHIR Practitioner resource ID.
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Practitioner resource returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Practitioner'
        '404':
          description: Practitioner not found.
components:
  schemas:
    Practitioner:
      type: object
      description: A FHIR Practitioner resource representing a healthcare clinician.
      properties:
        resourceType:
          type: string
          example: Practitioner
        id:
          type: string
        identifier:
          type: array
          items:
            type: object
            properties:
              system:
                type: string
              value:
                type: string
        name:
          type: array
          items:
            type: object
            properties:
              family:
                type: string
              given:
                type: array
                items:
                  type: string
        qualification:
          type: array
          items:
            type: object
    Bundle:
      type: object
      description: A FHIR Bundle resource containing a collection of resources.
      properties:
        resourceType:
          type: string
          example: Bundle
        id:
          type: string
        type:
          type: string
          enum:
          - searchset
          - collection
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
  securitySchemes:
    smartOnFhir:
      type: oauth2
      description: SMART on FHIR OAuth 2.0 authorization for patient-facing apps.
      flows:
        authorizationCode:
          authorizationUrl: https://partners.centene.com/oauth2/authorize
          tokenUrl: https://partners.centene.com/oauth2/token
          scopes:
            patient/Patient.read: Read patient demographic data
            patient/Coverage.read: Read coverage and enrollment data
            patient/ExplanationOfBenefit.read: Read claims and EOB data
            patient/Condition.read: Read diagnosed conditions
            patient/Observation.read: Read observations and lab results
            patient/MedicationRequest.read: Read medication requests
            patient/Immunization.read: Read immunization records
            patient/Encounter.read: Read care encounters
