openapi: 3.1.0
info:
  title: WellCare FHIR Patient Access Condition Organization API
  description: The WellCare FHIR Patient Access API enables members and authorized third-party applications to securely access and exchange health data including medical, pharmacy, dental, and vision claims and clinical information. The API supports HL7 FHIR R4 standards and SMART on FHIR authorization, providing access to up to 5 years of historical health information. Required under CMS Interoperability and Patient Access final rule (CMS-9115-F) for Medicaid and Medicare Advantage plans. Access is managed through the Centene Partner Portal at partners.centene.com/apis.
  version: '1.0'
  contact:
    url: https://www.wellcare.com/en/interoperability-and-patient-access
servers:
- url: https://partners.centene.com
tags:
- name: Organization
  description: Healthcare organizations, hospitals, and facilities.
paths:
  /fhir/r4/Organization:
    get:
      operationId: searchOrganizations
      summary: Search Organizations
      description: Searches for healthcare organizations, hospitals, clinics, and facilities in the WellCare provider network by name, type, or NPI.
      tags:
      - Organization
      parameters:
      - name: name
        in: query
        description: Organization name (partial match supported).
        schema:
          type: string
      - name: identifier
        in: query
        description: NPI or other organization identifier.
        schema:
          type: string
      - name: type
        in: query
        description: Organization type (e.g., hospital, clinic, pharmacy).
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        schema:
          type: integer
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Bundle of Organization resources returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
  /fhir/r4/Organization/{id}:
    get:
      operationId: getOrganization
      summary: Get Organization
      description: Retrieves a specific organization resource by FHIR ID.
      tags:
      - Organization
      parameters:
      - name: id
        in: path
        description: The FHIR Organization resource ID.
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Organization resource returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          description: Organization not found.
components:
  schemas:
    Organization:
      type: object
      description: A FHIR Organization resource representing a healthcare organization.
      properties:
        resourceType:
          type: string
          example: Organization
        id:
          type: string
        name:
          type: string
        type:
          type: array
          items:
            type: object
        address:
          type: array
          items:
            type: object
        telecom:
          type: array
          items:
            type: object
    Bundle:
      type: object
      description: A FHIR Bundle resource containing a collection of resources.
      properties:
        resourceType:
          type: string
          example: Bundle
        id:
          type: string
        type:
          type: string
          enum:
          - searchset
          - collection
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
  securitySchemes:
    smartOnFhir:
      type: oauth2
      description: SMART on FHIR OAuth 2.0 authorization for patient-facing apps.
      flows:
        authorizationCode:
          authorizationUrl: https://partners.centene.com/oauth2/authorize
          tokenUrl: https://partners.centene.com/oauth2/token
          scopes:
            patient/Patient.read: Read patient demographic data
            patient/Coverage.read: Read coverage and enrollment data
            patient/ExplanationOfBenefit.read: Read claims and EOB data
            patient/Condition.read: Read diagnosed conditions
            patient/Observation.read: Read observations and lab results
            patient/MedicationRequest.read: Read medication requests
            patient/Immunization.read: Read immunization records
            patient/Encounter.read: Read care encounters
