openapi: 3.1.0
info:
  title: WellCare FHIR Patient Access Condition Immunization API
  description: The WellCare FHIR Patient Access API enables members and authorized third-party applications to securely access and exchange health data including medical, pharmacy, dental, and vision claims and clinical information. The API supports HL7 FHIR R4 standards and SMART on FHIR authorization, providing access to up to 5 years of historical health information. Required under CMS Interoperability and Patient Access final rule (CMS-9115-F) for Medicaid and Medicare Advantage plans. Access is managed through the Centene Partner Portal at partners.centene.com/apis.
  version: '1.0'
  contact:
    url: https://www.wellcare.com/en/interoperability-and-patient-access
servers:
- url: https://partners.centene.com
tags:
- name: Immunization
  description: Immunization records and history.
paths:
  /fhir/r4/Immunization:
    get:
      operationId: listImmunizations
      summary: List Immunizations
      description: Retrieves Immunization resources representing a member's immunization history including vaccine type, administration date, and lot number.
      tags:
      - Immunization
      parameters:
      - name: patient
        in: query
        description: The FHIR Patient ID.
        required: true
        schema:
          type: string
      security:
      - smartOnFhir:
        - patient/Immunization.read
      responses:
        '200':
          description: Bundle of Immunization resources returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          description: Unauthorized.
components:
  schemas:
    Bundle:
      type: object
      description: A FHIR Bundle resource containing a collection of resources.
      properties:
        resourceType:
          type: string
          example: Bundle
        id:
          type: string
        type:
          type: string
          enum:
          - searchset
          - collection
          - transaction
          - history
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
  securitySchemes:
    smartOnFhir:
      type: oauth2
      description: SMART on FHIR OAuth 2.0 authorization for patient-facing apps.
      flows:
        authorizationCode:
          authorizationUrl: https://partners.centene.com/oauth2/authorize
          tokenUrl: https://partners.centene.com/oauth2/token
          scopes:
            patient/Patient.read: Read patient demographic data
            patient/Coverage.read: Read coverage and enrollment data
            patient/ExplanationOfBenefit.read: Read claims and EOB data
            patient/Condition.read: Read diagnosed conditions
            patient/Observation.read: Read observations and lab results
            patient/MedicationRequest.read: Read medication requests
            patient/Immunization.read: Read immunization records
            patient/Encounter.read: Read care encounters
