openapi: 3.1.0
info:
  title: WellCare FHIR Patient Access Condition Explanation of Benefits API
  description: The WellCare FHIR Patient Access API enables members and authorized third-party applications to securely access and exchange health data including medical, pharmacy, dental, and vision claims and clinical information. The API supports HL7 FHIR R4 standards and SMART on FHIR authorization, providing access to up to 5 years of historical health information. Required under CMS Interoperability and Patient Access final rule (CMS-9115-F) for Medicaid and Medicare Advantage plans. Access is managed through the Centene Partner Portal at partners.centene.com/apis.
  version: '1.0'
  contact:
    url: https://www.wellcare.com/en/interoperability-and-patient-access
servers:
- url: https://partners.centene.com
tags:
- name: Explanation of Benefits
  description: Claims and EOB data for medical, pharmacy, dental, and vision.
paths:
  /fhir/r4/ExplanationOfBenefit:
    get:
      operationId: listExplanationOfBenefit
      summary: List Explanation of Benefit
      description: Retrieves Explanation of Benefit (EOB) resources representing adjudicated medical, pharmacy, dental, and vision claims for a member. Supports up to 5 years of historical claims data as required by CMS interoperability rules.
      tags:
      - Explanation of Benefits
      parameters:
      - name: patient
        in: query
        description: The FHIR Patient ID to retrieve EOBs for.
        required: true
        schema:
          type: string
      - name: service-date
        in: query
        description: Filter by service date range (format YYYY-MM-DD or YYYY-MM-DD,YYYY-MM-DD).
        schema:
          type: string
      - name: type
        in: query
        description: Filter by claim type (e.g., pharmacy, oral, vision, institutional, professional).
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        schema:
          type: integer
      security:
      - smartOnFhir:
        - patient/ExplanationOfBenefit.read
      responses:
        '200':
          description: Bundle of ExplanationOfBenefit resources returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
        '401':
          description: Unauthorized.
components:
  schemas:
    Bundle:
      type: object
      description: A FHIR Bundle resource containing a collection of resources.
      properties:
        resourceType:
          type: string
          example: Bundle
        id:
          type: string
        type:
          type: string
          enum:
          - searchset
          - collection
          - transaction
          - history
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
  securitySchemes:
    smartOnFhir:
      type: oauth2
      description: SMART on FHIR OAuth 2.0 authorization for patient-facing apps.
      flows:
        authorizationCode:
          authorizationUrl: https://partners.centene.com/oauth2/authorize
          tokenUrl: https://partners.centene.com/oauth2/token
          scopes:
            patient/Patient.read: Read patient demographic data
            patient/Coverage.read: Read coverage and enrollment data
            patient/ExplanationOfBenefit.read: Read claims and EOB data
            patient/Condition.read: Read diagnosed conditions
            patient/Observation.read: Read observations and lab results
            patient/MedicationRequest.read: Read medication requests
            patient/Immunization.read: Read immunization records
            patient/Encounter.read: Read care encounters
