openapi: 3.2.0
info:
  title: WellCare FHIR Provider Directory Practitioner Role API
  description: The WellCare FHIR Provider Directory API provides access to up-to-date provider directory information, enabling third-party applications to query in-network physicians, specialists, hospitals, and other healthcare providers.
  version: '1.0'
  contact:
    url: https://www.wellcare.com/en/interoperability-and-patient-access
servers:
- url: https://partners.centene.com
tags:
- name: Practitioner Role
  description: A practitioner's role within an organization and network.
paths:
  /fhir/r4/PractitionerRole:
    get:
      operationId: searchPractitionerRoles
      summary: Search Practitioner Roles
      description: Searches for practitioner roles defining a practitioner's relationship with a healthcare organization and network, including specialties, accepted insurance plans, and care location affiliations.
      tags:
      - Practitioner Role
      parameters:
      - name: practitioner
        in: query
        description: FHIR Practitioner ID.
        schema:
          type: string
      - name: organization
        in: query
        description: FHIR Organization ID.
        schema:
          type: string
      - name: specialty
        in: query
        description: Specialty taxonomy code.
        schema:
          type: string
      - name: location
        in: query
        description: FHIR Location ID.
        schema:
          type: string
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Bundle of PractitionerRole resources returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
components:
  schemas:
    Bundle:
      type: object
      description: A FHIR Bundle resource containing a collection of resources.
      properties:
        resourceType:
          type: string
          example: Bundle
        id:
          type: string
        type:
          type: string
          enum:
          - searchset
          - collection
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token from Centene Partner Portal OAuth 2.0 authorization.
