openapi: 3.2.0
info:
  title: WellCare FHIR Provider Directory Organization API
  description: The WellCare FHIR Provider Directory API provides access to up-to-date provider directory information, enabling third-party applications to query in-network physicians, specialists, hospitals, and other healthcare providers.
  version: '1.0'
  contact:
    url: https://www.wellcare.com/en/interoperability-and-patient-access
servers:
- url: https://partners.centene.com
tags:
- name: Organization
  description: Healthcare organizations, hospitals, and facilities.
paths:
  /fhir/r4/Organization:
    get:
      operationId: searchOrganizations
      summary: Search Organizations
      description: Searches for healthcare organizations, hospitals, clinics, and facilities in the WellCare provider network by name, type, or NPI.
      tags:
      - Organization
      parameters:
      - name: name
        in: query
        description: Organization name (partial match supported).
        schema:
          type: string
      - name: identifier
        in: query
        description: NPI or other organization identifier.
        schema:
          type: string
      - name: type
        in: query
        description: Organization type (e.g., hospital, clinic, pharmacy).
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        schema:
          type: integer
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Bundle of Organization resources returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
  /fhir/r4/Organization/{id}:
    get:
      operationId: getOrganization
      summary: Get Organization
      description: Retrieves a specific organization resource by FHIR ID.
      tags:
      - Organization
      parameters:
      - name: id
        in: path
        description: The FHIR Organization resource ID.
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Organization resource returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          description: Organization not found.
components:
  schemas:
    Bundle:
      type: object
      description: A FHIR Bundle resource containing a collection of resources.
      properties:
        resourceType:
          type: string
          example: Bundle
        id:
          type: string
        type:
          type: string
          enum:
          - searchset
          - collection
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
    Organization:
      type: object
      description: A FHIR Organization resource representing a healthcare organization.
      properties:
        resourceType:
          type: string
          example: Organization
        id:
          type: string
        name:
          type: string
        type:
          type: array
          items:
            type: object
        address:
          type: array
          items:
            type: object
        telecom:
          type: array
          items:
            type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token from Centene Partner Portal OAuth 2.0 authorization.
