openapi: 3.2.0
info:
  title: WellCare FHIR Provider Directory Practitioner API
  description: The WellCare FHIR Provider Directory API provides access to up-to-date provider directory information, enabling third-party applications to query in-network physicians, specialists, hospitals, and other healthcare providers.
  version: '1.0'
  contact:
    url: https://www.wellcare.com/en/interoperability-and-patient-access
servers:
- url: https://partners.centene.com
tags:
- name: Practitioner
  description: Individual healthcare practitioners and clinicians.
paths:
  /fhir/r4/Practitioner:
    get:
      operationId: searchPractitioners
      summary: Search Practitioners
      description: Searches for healthcare practitioners in the WellCare provider directory by name, specialty, NPI, or location. Returns practitioner demographic information, credentials, and specialties.
      tags:
      - Practitioner
      parameters:
      - name: name
        in: query
        description: Practitioner name (partial match supported).
        schema:
          type: string
      - name: identifier
        in: query
        description: NPI or other practitioner identifier.
        schema:
          type: string
      - name: specialty
        in: query
        description: NUCC taxonomy code or specialty name.
        schema:
          type: string
      - name: _count
        in: query
        description: Number of results per page.
        schema:
          type: integer
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Bundle of Practitioner resources returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
  /fhir/r4/Practitioner/{id}:
    get:
      operationId: getPractitioner
      summary: Get Practitioner
      description: Retrieves a specific practitioner resource by FHIR ID, returning full demographic and credential information.
      tags:
      - Practitioner
      parameters:
      - name: id
        in: path
        description: The FHIR Practitioner resource ID.
        required: true
        schema:
          type: string
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Practitioner resource returned.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Practitioner'
        '404':
          description: Practitioner not found.
components:
  schemas:
    Bundle:
      type: object
      description: A FHIR Bundle resource containing a collection of resources.
      properties:
        resourceType:
          type: string
          example: Bundle
        id:
          type: string
        type:
          type: string
          enum:
          - searchset
          - collection
        total:
          type: integer
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
              url:
                type: string
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
              resource:
                type: object
    Practitioner:
      type: object
      description: A FHIR Practitioner resource representing a healthcare clinician.
      properties:
        resourceType:
          type: string
          example: Practitioner
        id:
          type: string
        identifier:
          type: array
          items:
            type: object
            properties:
              system:
                type: string
              value:
                type: string
        name:
          type: array
          items:
            type: object
            properties:
              family:
                type: string
              given:
                type: array
                items:
                  type: string
        qualification:
          type: array
          items:
            type: object
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token from Centene Partner Portal OAuth 2.0 authorization.
